.navbar {
  width: 100%;
  height: 50px;
  color: #000;
  background-color: blue;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.title {
  color: white;
  padding: 10px;
}

.nav-btn {
  padding: 10px;
  background-color: cyan;
  border: 1px solid #777;
}

.nav-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #333;
}
