.wrapper {
  border: 1px solid #000;
  border-radius: 12px;
  background-color: lightyellow;
  color: rgb(1, 24, 43);
  width: 50%;
  height: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

ul {
  list-style: none;
}

hr {
  margin: 0 10px;
}
